{% extends "base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}
{% block css_files %}

<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
<link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">

{% endblock %}
{% block content %}
{% if comment_form.errors %}
  <div id="alert">
    <h2>Saving the comment failed!</h2>
    <p>Please check the comment form below the post and fix your erros.</p>
    <a href="#comment-form">Fix!</a>
  </div>
{% endif %}

<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
        {% for tag in tags %}
            <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
    </div>

    <div id="read-later">
        <form action="{% url "read-later" %}" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{ post.id }}" name="post_id">
          <button>
            {% if saved_for_later %}
              Remove from "Read Later" List
            {% else %}
              Read Later
            {% endif %}
          </button>
        </form>
      </div>
    
    <article>
        <img src="{{ post.image.url }}" alt="{{ post.image }}">
        <address>By <a href="mailto:{{post.author.email}}"> {{post.author}}</a></address>
        <div>
            Last updated on <time>{{post.updated_on|date:"d M Y"}}</time>
        </div>
    </article>
</section>

<main>
    <p>
        {{post.content|linebreaks}}
    </p>
</main>

{% if comments %}
<section id="comments">
<ul>
    {% for comment in comments %}
    <li>
        <h4>{{comment.user_name}}</h4>
        <p>{{comment.content|linebreaks}}<p>
    </li>
    {% endfor %}
</ul>
</section>
{% endif %}

<div id="comment-form">
    <h2>Your Comment</h2>
    <form  action="{% url "post-detail-page" post.slug %}" method="POST">
        {% csrf_token %}        
        {% for field in comment_form%}
            <div class="form-control {% if field.errors %}invalid{%endif%}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors}}
            </div>
        {% endfor %}
        <button type="submit">Send</button>
    </form>
</div>

{% endblock %}